/*body*/

body {
  background-color: #F7F9FC;
  font-family: 'Open Sans', sans-serif;
  color: #575F7D;
  font-size: 17px;
  background-image:url(images/background.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  margin:0;
}

.white-card {
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 30px 0px;
  box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
  border-radius: 4px;
}

.container {
  width: 500px;
  margin: 0 auto;
  text-align: center;
}

.img-circle {
  border-radius: 50%;
}


/*header*/

header {
  font-size: 32px;
}

h1 {
  font-size: 32px;
  font-weight: 900;
}

h2 {
  font-size: 20px;
  font-weight: lighter;
  font-weight: 500;
}

h2 > a {
  font-size: 16px;
}

h3 {
  font-size: 16px;
  font-weight: lighter;
  font-weight: 500;
}

h1,h2,h3 {
  font-family: 'Roboto', sans-serif;
  color: rgb(150, 150, 150);
}

/*links*/
 a {
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: #FFD00E;
  font-weight: 600;
  font-size: 35px;
 }


 /*lists*/

 .list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}
